.merchandise-page {
    display: flex;
    flex-direction: column;

    .label {
        cursor: pointer;
    }

    .items {
        display: grid;
        justify-content: space-between;
        padding: 100px 0;
        grid-template-columns: auto auto auto;
    }
}