.dropdown {
    position: absolute;
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: white;
    top: 100px;
    right: 100px;
    z-index: 5;
    padding: 20px;

    ::-webkit-scrollbar {
        width: 6px;
        background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 20px;
    }

    .empty {
        font-size: 20px;
        margin: 50px auto;

    }

    .cart-items {
        height: 300px;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
    }

    button {
        margin-top: auto;
    }

}