.cart {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto 0;

    .cart-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid black;

        .header-item {
            text-transform: uppercase;
            padding: 0 25px;
        }
    }

    .total {
        margin-top: 30px;
        margin-left: auto;
        font-size: 38px;
    }
}