.shop-item {

    position: relative;

    .label {
        cursor: pointer;
        width: 4%
    }

    .card {
        display: flex;
        justify-content: space-between;
        padding: 100px 0;
    }
}