.cart {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto 0;

    @media screen and (max-width:800px) {
        margin: unset;
        font-size: 12px;
    }

    .cart-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid black;

        .header-item {
            text-transform: uppercase;
            padding: 0 25px;

            @media screen and (max-width:800px) {
                padding: 0 5px;
            }
        }
    }

    .total {
        margin-top: 30px;
        margin-left: auto;
        font-size: 38px;

        @media screen and (max-width:800px) {
            margin: auto;
            font-size: 18px;
        }


    }

    button {
        margin-left: auto;
        margin-top: 40px;

        @media screen and (max-width:800px) {
            margin: 50px 0 0 0;
        }
    }

    .warning {
        text-align: center;
        margin-top: 30px;
        font-size: 24px;

        @media screen and (max-width:800px) {
            font-size: 20px;
        }
    }
}